@{
    ViewData["Title"] = "Home page";
}

<style>

    .myText {
        position: absolute;
        z-index: 3;
        transform: translateX(-50%);
        color: #fff;
    }
</style>
<div class="row">

    <div class="col-md-4">
        <div class="mb-2">
            1. Выберите фото, вертикальная ориентация, желательно с белым фоном
            <input type="file" id="tbFile" class="form-control form-control-sm" />
        </div>
        <div class="mb-2">
            2. Имя
            <input type="text" id="tb1" onkeyup="TextChanged()" onchange="TextChanged()" class="form-control form-control-sm" value="Steve Jobs" />
        </div>
        <div class="mb-2">
            3. Годы жизни
            <input type="text" id="tb2" onkeyup="TextChanged()" onchange="TextChanged()" class="form-control form-control-sm" value="1959-2009" />
        </div>
        <div class="mb-2">
            4. Надпись
            <textarea id="tb3" onkeyup="TextChanged()" onchange="TextChanged()" class="form-control form-control-sm">Из жизни ты ушел мгновенно, а боль осталась навсегда.</textarea>
        </div>
        <div class="mb-2">
            5. Размер фото
            <input type="range" min="-200" style="width: 100%" max="200" value="0" class="form-range>" id="tbMainS" onchange="SetMainImage()" oninput="SetMainImage()" />
        </div>
        <div class="mb-2">
            6. Положение фото
            <div class="row">
                <div class="col"><input type="range" min="-200" style="width: 100%" max="200" value="0" class="form-range>" id="tbMainX" onchange="SetMainImage()" oninput="SetMainImage()" /></div>
                <div class="col"><input type="range" min="-200" style="width: 100%" max="200" value="0" class="form-range>" id="tbMainY" onchange="SetMainImage()" oninput="SetMainImage()" /></div>
            </div>
            
            
        </div>

        <div class="mb-2"><input type="submit" class="btn btn-sm btn-primary w-100" value="OK" /></div>
    </div>
    <div class="col-md-8">
        <div id="pMain" style="">
            <div id="divText1" style="font-weight: bold" class="myText">Steve Jobs</div>
            <div id="divText2" class="myText">1959-2009</div>
            <div id="divText3" style="text-align: center; line-height:100%" class="myText"></div>

            <div id="pMain" style="position: absolute; z-index: -1; overflow: hidden"><img style="filter: grayscale(100%);transform: translateX(-50%);" id="imgMain" src="~/img/1.png" /></div>
            <div><img src="~/img/main.png" id="imgFrame" style="width: 100%; z-index: 5" /></div>
        </div>
    </div>

</div>



@section Scripts
{
    <script>
                var px = 0;

                function TextChanged() {
                    $("#divText1").html($("#tb1").val());
                    $("#divText2").html($("#tb2").val());
                    console.log($("#tb3").val().replace("\n","<br>").replace("\n","<br>").replace("\n","<br>").replace("\n","<br>").replace("\n","<br>"));
                    $("#divText3").html($("#tb3").val().replace("\n","<br>").replace("\r","<br>"));
                }
                $(document).ready(function() {
                     SetMainImage();
                     TextChanged();
                });

                function SetMainImage() {
                    var mainImg = document.getElementById("imgMain");
                    var divText1 = document.getElementById("divText1");
                    var divText2 = document.getElementById("divText2");
                    var divText3 = document.getElementById("divText3");

                    px= document.getElementById("imgFrame").clientWidth/1000  ;
                    document.getElementById("pMain").style.width= document.getElementById("imgFrame").clientWidth;
                    document.getElementById("pMain").style.height= document.getElementById("imgFrame").clientHeight;

                    mainImg.style.width = (px * (300 + $("#tbMainS").val()*1)) + "px";
                    mainImg.style.marginTop = (px * (65 + $("#tbMainX").val()*1))  + "px";
                    mainImg.style.marginLeft = (px * (500 + $("#tbMainY").val()*1))  + "px";

                    divText1.style.marginTop = (px * 400) + "px";
                    divText2.style.marginTop = (px * 450) + "px";
                    divText3.style.marginTop = (px * 610) + "px";

                    divText1.style.marginLeft = (px * 500) + "px";
                    divText2.style.marginLeft = (px * 500) + "px";
                    divText3.style.marginLeft = (px * 500) + "px";
                    divText3.style.width = (px * 250) + "px";

                    divText1.style.fontSize = (px * 35) + "px";
                    divText2.style.fontSize = (px * 24) + "px";
                    divText3.style.fontSize = (px * 15) + "px";



                    setTimeout("SetMainImage();", 1000);
                }

        // on change tbFile set image to imgMain
                document.getElementById("tbFile").addEventListener("change",
                    function(event) {
                        $("#pMain").fadeIn(1000);
                        var file = event.target.files[0];
                        var reader = new FileReader();
                        reader.onload = function(e) {
                            var img = document.getElementById("imgMain");
                            img.src = e.target.result;
                            SetMainImage();

                        };
                        reader.readAsDataURL(file);


                    });
    </script>
}
