@model Danik.WebUI.Code.Domain.Order
@{
    ViewData["Title"] = "Home page";
}
<style>
    
</style>

@using (Html.BeginForm("Step3", "Wiz", FormMethod.Post))
{
    <h4>ФИО</h4>



    <div class="mt-4">
        <input type="submit" class="btn btn-primary" value="Дальше"/>
    </div>
}
@section Scripts
{
    <script>

    </script>
}
